html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}









nav {
  display: flex;
  align-items: center;
  background-color: #7D4F50;
  padding: 0;
}

.navcontainer {
  display: flex;
  align-items: center;
}

nav a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  height: 2vw;
  width: 9vw;
  padding: 1.4vw 1.4vw;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

nav a.active {
  background-color: #a97576;
  color: white;
}

nav a:hover {
  background-color: #6d4040;
  color: white;
}









.card {
background-color: #6d4040;
height: 27.5vw;
}

.cardtext {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: -1.7vw;
  font-size: 2vw;
  color: white;
}













.pagecaption {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(125, 79, 80, 0.80);
  text-align: center;
  width: 65%;
  z-index: 10;
  padding: 3vw;
}

.pagecaption2 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7D4F50;
  text-align: center;
  width: 77%;
  z-index: 10;
  padding: 3vw;
}

.pagecaption3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(125, 79, 80, 0.80);
  color: white;
  text-align: center;
  width: 75%;
  z-index: 10;
  padding: 4vw;
}

.caption {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(125, 79, 80, 0.80);
  color: white;
  text-align: center;
  width: 65%;
  z-index: 10;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  padding: 3vw;
}

.carousel {
  margin: none;
  padding: none;
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  width: 100%;
}

.carousel2 {
  margin: none;
  padding: none;
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel2-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel2-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel2-item img {
  display: block;
  width: 100%;
}

.buttonimages {
  transition: transform 0.3s ease, filter 0.3s ease;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.64);
}

.buttonimages:hover {
  transform: scale(1.02);
  filter: brightness(1.15);
}




































































.homepagetriplecolumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  margin: 5vw;
  margin-right: 10vw;
  margin-left: 10vw;
}

.homepagecolumn {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 5vw;
  margin-left: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.homepagecolumntwo {
  display: grid;
  grid-template-columns: 1.7fr .6fr .3fr;
  gap: 5vw;
  margin-top: 5vw;
  margin-right: 5vw;
}

.homepageimages {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.64);
}

.homepagetext {
  cursor: default;
  text-align: center;
  font-size: 1.5vw;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}










.pagecolumn {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5vw;
  margin-left: 5vw;
  margin-top: 5vw;
}

.pagecolumntwo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5vw;
  margin-top: 5vw;
  margin-right: 5vw;
}

.pagecolumndiff {
  display: grid;
  grid-template-columns: 0.6fr 2.4fr;
  gap: 5vw;
  margin-left: 5vw;
  margin-top: 5vw;
}

.pagecolumntwodiff {
  display: grid;
  grid-template-columns: 2.4fr 0.6fr;
  gap: 5vw;
  margin-top: 6vw;
  margin-right: 5vw;
}





















































.footer {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.2vw;
  padding-left: 3vw;
  color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  background-color: #7D4F50;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}